Body{
    background:lightgrey;
}
.title{
    color:purple;
  font-family: 'Mountains of Christmas', cursive;
    
}
img{
    width:400px;
}
li{
    color:violet;
    font-family: 'Black And White Picture', sans-serif;
    
}